*{
  list-style: none;
}
body {
  background-color: #fafafa;
  color: #0f0fa0;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header{
  float:right;
}
.nav-bar{
  display: flex;
  flex-direction: row;
}
.nav-bar-li{
  border: 2px black solid;
  margin: 0 20px;
}