<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>48G</title>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <ul class="nav-bar">
        <li class="nav-bar-li">
          <p>{{Home}}</p>
        </li>
        <li class="nav-bar-li">
          <p>{{About}}</p>
        </li>
        <li class="nav-bar-li">
          <p>{{CryptoInvestTrading}}</p>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>